<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='style.css') }}"
  />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Submitted info:</h1>
      <div class="input_container">
        <p>Name:</p>
        <p>{{name}}</p>
      </div>
      <div class="input_container">
        <p>Dojo Location:</p>
        <p>{{location}}</p>
      </div>
      <div class="input_container">
        <p>Favorite Language:</p>
        <p>{{language}}</p>
      </div>
      <div class="input_container">
        <p>Comment:</p>
        <p>{{comment}}</p>
      </div>
      <div>
          {%if checked %}
          <h2>YOU CHECKED THE BOX CONGRATULATIONS!!!</h2>
          {%else%}
          <h2>YOU DIDN'T CHECK THE BOX CONGRATULATIONS!!!</h2>
          {%endif%}
      </div>
      <div>
        {%if radio=="option1" %}
        <h3>You picked the wrong radio button, congratulations on being an individual who thinks for themselves!</h3>
        {%else%}
        <h3>You picked the right radio button, congratulations on not being an individual who thinks for themselves!</h3>
        {%endif%}
    </div>

      <form action="/">
      <div class="button_container">
        <input class="btn btn-primary" type="submit" value="Go Back" />
      </div>
    </form>
    </div>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
